.message
  .card
    %p.card-header= "Conversation with #{@contact_name}"
  .card-body
    .thread
      - @messages.each do |message|
        - if message['direction'] == 'inbound'
          = render 'messages/inbound_message', message: message
        - else
          = render 'messages/outbound_message', message: message
          