%li.media.contact
  = image_tag(contact.avatar_url, class: 'd-flex mr-3 avatar')
  .media-body
    .row
      .col
        %p.lead= contact.name
    .row
      .col
        = link_to 'New SMS', new_messages_path(contact_name: contact.name, contact_id: contact.skipio_id), class: 'btn btn-success'
        = link_to 'View SMS', messages_path(contact_name: contact.name, contact_id: contact.skipio_id), class: 'btn btn-primary'