.contact {
  margin-bottom: 1rem;

  .avatar {
    max-width: 80px;
    max-height: auto;
  }
}

.message {
  .body {
    height: 200px;
    width: 100%;
  }

  .card {
    border: 0px !important;
  }

  .avatar {
    max-width: 30px;
    max-height: auto;
  }

  .inbound {
    text-align: right;
  }
}

.thread-body p {
  margin-bottom: 0;
}